{
    "extends": [
        "airbnb"
    ],
    "parser": "babel-eslint",
    "env": {
        "node": true,
        "es6": true,
        "browser": true
    },
    "rules": {
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ],
        "implicit-arrow-linebreak": "off",
        "comma-dangle": "off",
        "indent": "off",
        "no-trailing-spaces": "off",
        "react/prefer-stateless-function": 0,
        "import/no-extraneous-dependencies": 0,
        "jsx-a11y/label-has-associated-control": 0,
        "jsx-a11y/control-has-associated-label": 0,
        "react/prop-types": 0,
        "linebreak-style": 0,
        "react/jsx-one-expression-per-line": 0,
        "space-before-function-paren": 0,
        "no-console": 0,
        "arrow-parens": 0
    }
}
