.table {
  font-size: 95%;
}

.col {
  background-color: white;
  padding: .25em .5em !important;
}

.weekEndCol {
  background-color: whitesmoke;
  padding: .25em .5em !important;
}

.cell {
  border-radius: 2px;
  width: 40px;
  cursor: pointer;
}
